.addG {
  background-color: #E89C07; 
   font-family: 'Cabin', Helvetica, Arial, sans-serif;
  color: black; 
  border: 2px solid #000103;
  border-radius: 25px;
  position:absolute;top:125px; left:140px
  ;
}

.addG:hover {
  background-color: #4CAF50;
  color: white;
}

    .updateG {
  background-color: grey; 
  color: black; 
  border: 2px solid #000103;
  border-radius: 25px;
  position:absolute;top:100px;left:230px;
}

.updateG:hover {
  background-color: #0831DE;
  color: white;
}
    .deleteG {
  background-color: grey; 
  color: black; 
  border: 2px solid #000103;
  border-radius: 25px;
  position:absolute;top:100px;left:310px;
}

.deleteG:hover {
  background-color: #E1041C;
  color: white;
}
    .Filter {
       font-family: 'Cabin', Helvetica, Arial, sans-serif;
  background-color: #E89C07; 
  color: black; 
  border: 2px solid #000103;
  border-radius: 25px;
  position:absolute;top:125px;left:1080px;
}

.Filter:hover {
  background-color: #4CAF50;
  color: white;
}
    .delG {
  background-color: grey; 
  color: black; 
  font-size: 14px;
  border: 2px solid #000103;
  border-radius: 25px;
  position:absolute;top:100px;left:210px;
}

.delG:hover {
  background-color: #E1041C;
  color: white;
}
    .addGame {
      font-family: 'Cabin', Helvetica, Arial, sans-serif;
  background-color: #E89C07; 
  color: black; 
  font-size: 14px;
  border: 1px solid white;
  border-radius: 25px;
  position:absolute;top:100px
}

.addGame:hover {
  background-color: #4CAF50;
  color: white;
}
    .updG {
  background-color: #E89C07; 
  color: black; 
  font-size: 14px;
  border: 1px solid white;
  border-radius: 25px;
  position:absolute;top:100px
}

.updG:hover {
  background-color: #4CAF50;
  color: white;
}
.showRecs {
background-color: white;
position: absolute; top:175px; left:140px;
height: 400; 
font-size: 10px;
width: 1000;
opacity: 0.8;
color:black;

}

.delform{
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  background-color: lightseagreen;
  border: 1px solid white;
  color:white;
  padding-left:14px;
  
}
.mainview{
  border-radius: 25px;
    background-color: springgreen ;
  color:black;
  border: 3px solid black;
 opacity:0.85;
position: absolute; top:175px; left:140px;
height: 400; 
width: 1000;
font-size: 34px;
overflow-y:auto
;
}
.heading{
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  padding-left:70px;
  padding-top: 10px;
  top: 50%;
  left: 30%;
  color:white;
}
.text{
  color:white;
}
.delform1{
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  background-color: lightseagreen;
  color:white;
}
.textfield{
  border-style: solid;
  position:absolute;
  left:100px;
  border-radius: 25px;
}
.textfieldup{
  border-style: solid;
  padding-left:8px;
  position:absolute;
  left:100px;
  border-radius: 25px;
}
.title{
 font-family: 'Cabin', Helvetica, Arial, sans-serif;
 text-shadow: 1px 1px orange;
 font-size: 55px;
 line-height: 25px
 top:400;
}
#maintable th{
  font-size: 15px;
  border-collapse: collapse;
  position: sticky;
  padding:15px;
  text-align: left;
}
#maintable td{
  font-size: 14px;
  border-collapse: collapse;
  padding-left:17px;
  text-align: left;
}
#maintable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

  border-collapse: collapse;
  width: 100%;
}
#maintable tr:nth-child(even){background-color: #98FB98;}

#maintable tr:hover {background-color: red; opacity: 0.9; }

.tableDel{

  background-color: #E89C07; 
  color: black; 
  border: 1px solid #000103;
  border-radius: 20px;
  
}
.tableDel:hover {
  background-color: #E1041C;
  color: white;
}
.menutext{
  padding-left:14px;
}
.filterbox{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-radius: 25px;
 border: 1px solid black;
}